header{
    font-size: 3em;
    padding: 45px;
}

a{
    color: navy;
    text-decoration: none;
    font-size: 1.3em;
    border-radius: 10px;
    border: black;
    background-color: lightgray;
    margin: 20px;
padding: 20px;
}
